body{
    margin:0;
    font-family:'Segoe UI', sans-serif;
    background:#f1f3f6;
}

/* ===== HEADER ===== */
.header{
    position:sticky;
    top:0;
    z-index:1000;
    background:#fff;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.logo{
    font-size:24px;
    font-weight:700;
    color:#2874f0;
}

.search-box{
    width:420px;
    position:relative;
}

.search-box input{
    width:100%;
    padding:12px 45px 12px 15px;
    border-radius:4px;
    border:1px solid #ddd;
    outline:none;
    font-size:15px;
}

.search-box button{
    position:absolute;
    right:5px;
    top:50%;
    transform:translateY(-50%);
    border:none;
    background:#2874f0;
    color:#fff;
    padding:8px 14px;
    border-radius:4px;
    cursor:pointer;
}

/* ===== CONTAINER ===== */
.container{
    max-width:1300px;
    margin:30px auto;
    padding:0 20px;
}

/* ===== GRID ===== */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(240px, 1fr));
    gap:20px;
}

/* ===== PRODUCT CARD ===== */
.product-link{
    text-decoration:none;
    color:inherit;
}

.card{
    background:#fff;
    border-radius:6px;
    box-shadow:0 1px 6px rgba(0,0,0,0.1);
    transition:0.3s;
    display:flex;
    flex-direction:column;
    height:100%;
}

.card:hover{
    box-shadow:0 6px 20px rgba(0,0,0,0.18);
    transform:translateY(-4px);
}

/* IMAGE */
.img-box{
    height:180px;
    background:#fafafa;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px;
}

.img-box img{
    max-width:100%;
    max-height:100%;
    object-fit:contain;
}

/* BODY */
.card-body{
    padding:14px;
    display:flex;
    flex-direction:column;
    height:auto;
}

.card-title{
    font-size:15px;
    font-weight:600;
    line-height:1.3;
    margin-bottom:6px;

    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.card-desc{
    font-size:13px;
    color:#666;
    margin-bottom:8px;

    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.rating{
    font-size:14px;
    color:#ffb400;
    margin-bottom:6px;
}

.price{
    font-size:18px;
    font-weight:700;
    margin-bottom:10px;
}

.buy-btn{
    margin-top:auto;
    padding:10px;
    border:none;
    background:#ff9f00;
    color:#fff;
    border-radius:4px;
    font-weight:600;
    cursor:pointer;
}

.buy-btn:hover{
    background:#fb8c00;
}

/* EMPTY */
.empty{
    text-align:center;
    font-size:18px;
    color:#777;
    margin-top:50px;
}